# Ignore build folders
src/cmake/ 
src/.cmake/ 

# Ignore build results
build/bin/*
build/uranium

# Other stuff
src/cmake_install.cmake 
src/Makefile 
src/CMakeCache.txt 
src/.vscode/
src/lib/common/*
